<form action= "/course/add" method="post">
<p>
    <label>Course Name</label><input values="" name="courseName" /><br><br>
    <label>Course Duration</label><input values="" name="courseDuration" /><br><br>
    <label>Course Fees</label><input values="" name="courseFees" /><br><br>
    <br><br>
    <button type="submit">add course</button>
</p>
</form>